<table class="w-full">
  <thead>
    <tr class="text-left">
      <th class="pl-6">Название</th>
      <th class="w-60">Изменено</th>
      <th class="w-20">Размер файла</th>
      <th class="w-60"></th>
    </tr>
  </thead>
  <tbody>
    @for (file of files$ | async; track $index) {
    <tr class="p-10">
      <td class="pl-6">
        <span class="pi pi-file text-lg mr-2"></span>
        <span>{{ file.name }}</span>
      </td>
      <td>
        <span>{{ file.edited ?? "--" | date : "longDate" }}</span>
      </td>
      <td>
        <span>{{ file.size }}</span>
      </td>
      <td class="quick-action-buttons">
        <div class="hidden-buttons">
          <button class="button-icon pi pi-star"></button>
          <button class="button-icon pi pi-download"></button>
          <button class="button-icon pi pi-link"></button>
        </div>
        <button class="button-icon pi pi-ellipsis-h"></button>
      </td>
    </tr>
    }
  </tbody>
</table>
