:host {
  .sidebar-container {
    background-color: var(--bgGray200);
    width: var(--sidebarWidth);
    height: 100%;
    border-right: 1px solid var(--gray);
  }

  .logo {
    font-size: 1.5rem/* 24px */;
    line-height: 2rem/* 32px */;
    font-weight: 700;
    height: 44px;
  }

  .sidebar {
    padding-top: var(--sideOffset);
    display: grid;
    height: fit-content;
  }

  a {
    padding: 16px 24px;
    cursor: pointer;
    width: calc(100% - 48px);
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    width: 100%;
  }

  h1 {
    margin: 0 24px;
    cursor: pointer;
    margin-bottom: 24px;
  }

  .active {
    background-color: var(--mainColorUltraLight);
    color: var(--mainColor)
  }
}
